<h2>Retrieve - Exchange Rate</h2>
<hr>
<section fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="500px" fxFlex.xs="100%">
      <!-- <mat-card-title>Retrieve exchange Rate</mat-card-title> -->
      <form [formGroup]="dataForm" autocomplete="off" novalidate (ngSubmit)="createCurrencyPurchase(dataForm.value)" fxLayout="column wrap"
          fxLayoutAlign="center center" fxLayoutGap="10px">
          <mat-card-content>
              <mat-form-field>
                  <input matInput type="number" placeholder="Id User" formControlName="idUser" id="idUser">
                  <mat-hint align="end">Not more then 3 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('idUser', 'required')">Id User is required</mat-error>
                  <mat-error *ngIf="hasError('idUser', 'maxlength')">You have more than 3 characters</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input matInput type="number" placeholder="Amount" formControlName="amount" id="amount">
                <mat-hint align="end">Not more then 3 characters long.</mat-hint>
                <mat-error *ngIf="hasError('amount', 'required')">Amount is required</mat-error>
                <mat-error *ngIf="hasError('amount', 'maxlength')">You have more than 3 characters</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                  <input matInput type="number" placeholder="CurrencyCode" formControlName="currencyCode" id="currencyCode">
                  <mat-hint align="end">Not more then 3 characters long.</mat-hint>
                  <mat-error *ngIf="hasError('currencyCode', 'required')">Currency Code is required</mat-error>
                  <mat-error *ngIf="hasError('currencyCode', 'maxlength')">You have more than 3 characters</mat-error>
                </mat-form-field>
              </mat-card-content>
          <mat-card-actions>
              <button mat-raised-button color="primary" [disabled]="!dataForm.valid">Save</button>
              <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          </mat-card-actions>
      </form>
  </mat-card>
</section>

